.header {
	min-height: 25vh;
	width: 100%;
	background: url('../images/pattern-bg.png');
	background-size: contain;
	@include display-flex(column, flex-start);
	position: relative;

	@media (max-width: 600px) {
		min-height: 32vh;
	}

	h1 {
		color: white;
		font-size: 1.5rem;
		font-weight: 500;
		margin-top: 2rem;
	}

	.input {
		border-radius: 0.75rem;
		background-color: white;
		width: 80%;
		max-width: 524px;

		@include display-flex(row, space-between);

		.ip-address {
			background: transparent;
			border: none;
			color: $dark-gray;
			padding: 0.5rem;
			min-width: 70%;
			margin-left: 0.75rem;
			font-size: 0.9rem;

			&:focus {
				outline: none;
				color: $very-dark-gray;
				font-weight: 400;
			}
		}

		.icon-container {
			background-color: $very-dark-gray;
			padding: 1rem 1.25rem;
			border-top-right-radius: inherit;
			border-bottom-right-radius: inherit;
			border: 0;

			&:hover {
				cursor: pointer;
				background-blend-mode: overlay;
				background-color: #000;
			}
		}
	}

	.output {
		background: white;
		position: absolute;
		bottom: -25%;
		padding: 0 1rem;
		width: 80%;
		max-width: 924px;
		border-radius: 0.75rem;

		@media (max-width: 600px) {
			bottom: -45%;
			padding: 0;
		}

		.list {
			padding: 0;
			list-style: none;
			@include display-flex(row, space-between);

			@media (max-width: 600px) {
				@include display-flex(column, center);
			}

			.list__item {
				position: relative;
				padding: 1rem;

				&:first-child {
					border: none;
				}

				&:not(:first-child):after {
				  content: '';
				  width: 0;
				  height: 70%;
				  position: absolute;
				  border: 1px solid lightgray;
				  top: 20%;
				  left: 0;
				}

				@media (max-width: 600px) {
					padding: 0.5rem;
					&:not(:first-child):after {
						display: none;
					}
				}

				.key, .value {
					margin: 0;
				}

				.key {
					text-transform: uppercase;
					color: $dark-gray;
					font-size: 0.5rem;
					letter-spacing: 0.1rem;

					@media (max-width: 600px) {
						text-align: center;
					}
				}

				.value {
					margin-top: 0.5rem;
					font-weight: 500;
				}
			}
		}
	}
}